.env
.venv
__pycache__/
*.pyc
instance
.pytest_cache/
migrations/
*.sqlite3
.DS_Store
.vscode/
.idea/

*.log
*.pot
*.mo
*.egg-info/
htmlcov/
.coverage
.tox/
.nox/

job-application-sheets-cbb9a3a754b5.json
job_links.txt
